<div class = 'row schedule-form'>
  <div class = 'col'>
    <%= form_for(:schedule, url:personal_schedules_path) do |f| %>
      <%= render 'shared/error_messages' %>

      <div class = 'form-group row'>
        <%= f.label :content, '予定名', class:'col-md-2 col-form-label' %>
        <%= f.text_field :content, class:'form-control col-md-10' %>
      </div>

      <div class = 'form-group row'>
        <%= f.label :starts_at, '開始日時', class:'col-md-2 col-form-label' %>
        <%= f.datetime_select :starts_at, class:'form-control' %>
      </div>

      <div class = 'form-group row'>
        <%= f.label :ends_at, '終了日時', class:'col-md-2 col-form-label' %>
        <%= f.datetime_select :ends_at, class:'form-control' %>
      </div>

      <div class = 'form-group number-field row'>
        <%= f.label :importance, '重要度', class:'col-md-2 col-form-label' %>
        <%= f.number_field :importance, min:1, max:3, step:1 %>
      </div>

      <%= f.submit '登録', class:'btn btn-primary' %>
    <% end %>
  </div>
</div>
